Repository Translation-regulator/Stock_Pulse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-fastapi, build-crawler, deploy-backend, build-frontend

build-fastapi:
  stage: build
  script:
  - docker build -t stockpulse-api ./backend/app

build-crawler:
  stage: build
  script:
  - docker build -t stockpulse-crawler ./backend/crawler

deploy-backend:
  stage: deploy
  tags:
  - ec2
  needs:
  - build-fastapi
  - build-crawler
  script:
  - echo "ä½¿ç”¨ EC2 Runner ç›´æ¥éƒ¨ç½²å¾Œç«¯"
  - 'cat <<EOF > ./backend/app/.env
  
    DB_HOST=$DB_HOST
  
    DB_USER=$DB_USER
  
    DB_PASSWORD=$DB_PASSWORD
  
    DB_NAME=$DB_NAME
  
    FUGLE_API_TOKEN=$FUGLE_API_TOKEN
  
  ...

build-frontend:
  stage: build
  image: node:18
  script:
  - cd frontend
  - npm install
  - npm run build
  - echo "æ‰“åŒ…çµæœï¼š"
  - ls -R dist
  artifacts:
    paths:
    - frontend/dist
    expire_in: 1 hour

新增 GitHub Actions 自動部署
  frontend/src/components/TwiiRealtimeChartRenderer.vue
Due: build-frontend

Move GitHub Actions workflow to correct path
  .github/workflows/deploy-frontend.yml
Due: none

feat: finish backend CI/CD
  .github/workflows/deploy-frontend.yml
  .gitlab-ci.yml
  deploy-frontend.yml
Due: build-frontend

fix timezone problem
  backend/app/router/chatroom.py
  backend/app/router/chatroom_api.py
  frontend/src/components/ChatroomWindow.vue
Due: build-fastapi, deploy-backend, build-frontend

chore: clean history and finalize frontend deployment
  .gitlab-ci.yml
  backend/app/router/chatroom.py
  backend/app/router/chatroom_api.py
  frontend/src/components/ChatroomWindow.vue
Due: build-fastapi, deploy-backend, build-frontend

feat: add stock category
  backend/app/router/stock_router.py
  backend/crawler/crawler_utils/otc_client.py
  backend/crawler/crawler_utils/twse_client.py
  backend/crawler/service/insert_stock_info.py
  frontend/src/api.js
  frontend/src/components/IndustryFilter.vue
  frontend/src/components/StockList.vue
  frontend/src/components/StockRealtime.vue
  frontend/src/pages/StockPage.vue
Due: build-fastapi, build-crawler, deploy-backend, build-frontend

modify: arrangement of button
  frontend/src/components/IndustryFilter.vue
  frontend/src/components/StockList.vue
Due: build-frontend

modify: gap of button
  frontend/src/components/IndustryFilter.vue
  frontend/src/components/StockList.vue
Due: build-frontend

modify: change number of row in category
  frontend/src/components/IndustryFilter.vue
  frontend/src/components/StockList.vue
Due: build-frontend

fix: RDS
  backend/app/logic/auth_service.py
  backend/crawler/crawler_utils/twse_client.py
  frontend/src/components/AddStockModal.vue
Due: build-fastapi, build-crawler, deploy-backend, build-frontend

fix: navbar alignment
  backend/app/router/stock_ohlc.py
  frontend/src/components/NavBar.vue
  frontend/src/pages/StockPage.vue
  frontend/src/router/index.js
Due: build-fastapi, deploy-backend, build-frontend

fix: head search
  frontend/src/pages/ChatLobbyPage.vue
Due: build-frontend

fix: connection pool
  backend/app/app_utils/db.py
Due: build-fastapi, deploy-backend

fix: chatroom search rule
  frontend/src/pages/ChatLobbyPage.vue
Due: build-frontend

modify: chatroom labby filter optimization
  backend/app/router/stock_router.py
  frontend/src/pages/ChatLobbyPage.vue
Due: build-fastapi, deploy-backend, build-frontend

modify: change labby chatroom number
  frontend/src/pages/ChatLobbyPage.vue
Due: build-frontend

modify: login pop-up
  frontend/src/components/NavBar.vue
  frontend/src/components/Toast.vue
  frontend/src/composables/useAuth.js
Due: build-frontend

modify: change chatlobby chatroom number
  frontend/src/pages/ChatLobbyPage.vue
Due: build-frontend

fix
  backend/app/main.py
Due: build-fastapi, deploy-backend

modify: test CI/CD new rule
  .gitlab-ci.yml
  backend/app/main.py
  backend/crawler/database/create_twii_daily_weekly_monthly.py
  frontend/src/components/AddStockModal.vue
Due: build-fastapi, build-crawler, deploy-backend, build-frontend

fix: add gitlab registry login
  .gitlab-ci.yml
Due: build-frontend

test: gitlab CI/CD
  backend/app/main.py
  backend/crawler/database/create_twii_daily_weekly_monthly.py
  frontend/src/pages/ChatLobbyPage.vue
Due: build-fastapi, build-crawler, deploy-backend, build-frontend

test: gitlab CI/CD
  .gitlab-ci.yml
  backend/app/main.py
  backend/crawler/database/create_twii_daily_weekly_monthly.py
  frontend/src/components/AddStockModal.vue
Due: build-fastapi, build-crawler, deploy-backend, build-frontend

test: gitlab CI/CD
  .gitlab-ci.yml
  backend/app/main.py
Due: build-fastapi, deploy-backend, build-frontend

modify: change close-btn position
  frontend/src/components/NavBar.vue
Due: build-frontend

modify: change homepage background image
  frontend/src/assets/homepagebackground.png
  frontend/src/components/NavBar.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/StockPage.vue
  frontend/src/pages/TwiiPage.vue
Due: build-frontend

modify: backend API doc init
  backend/app/main.py
  backend/app/router/auth.py
  backend/app/router/chatroom_api.py
  backend/app/router/comments.py
  backend/app/router/stock_ohlc.py
  backend/app/router/stock_portfolio.py
  backend/app/router/stock_router.py
  backend/app/router/twii_ohlc.py
Due: build-fastapi, deploy-backend

modify: optimize flow of CI/CD
  .gitlab-ci.yml
Due: build-frontend

feat: RWD for homepage
  frontend/src/assets/burger_menu.png
  frontend/src/components/HeroSection.vue
  frontend/src/components/NavBar.vue
  frontend/src/pages/HomePage.vue
Due: build-frontend

modify: homepage RWD style
  frontend/src/components/HeroSection.vue
  frontend/src/pages/HomePage.vue
Due: build-frontend

feat: TwiiPage RWD first version
  frontend/src/components/ChartRenderer.vue
  frontend/src/components/ChatroomWindow.vue
  frontend/src/components/TwiiChartSwitcher.vue
  frontend/src/components/TwiiDailyChart.vue
  frontend/src/components/TwiiMonthlyChart.vue
  frontend/src/components/TwiiRealtime.vue
  frontend/src/components/TwiiWeeklyChart.vue
  frontend/src/pages/TwiiPage.vue
Due: build-frontend

modify: comment button logic refactor
  frontend/src/components/ChartRenderer.vue
  frontend/src/components/TwiiChartSwitcher.vue
  frontend/src/components/TwiiDailyChart.vue
  frontend/src/components/TwiiMonthlyChart.vue
  frontend/src/components/TwiiWeeklyChart.vue
  frontend/src/pages/TwiiPage.vue
Due: build-frontend

modify: RWD Twii
  frontend/src/components/ChartRenderer.vue
  frontend/src/components/SlideChatDrawer.vue
  frontend/src/components/TwiiChartSwitcher.vue
  frontend/src/pages/TwiiPage.vue
Due: build-frontend

modify: change display font size
  frontend/src/components/ChartRenderer.vue
Due: build-frontend

modify: RWD Twii
  frontend/src/components/TwiiRealtime.vue
  frontend/src/pages/TwiiPage.vue
Due: build-frontend

feat: RWD stock selector page
  frontend/src/components/IndustryFilter.vue
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/components/StockList.vue
  frontend/src/pages/StockPage.vue
Due: build-frontend

fix: stock list RWD
  frontend/src/components/StockList.vue
Due: build-frontend

modify: refactor stokpage devide into two page
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockBrowsePage.vue
  frontend/src/pages/StockDetailPage.vue
  frontend/src/pages/StockPage.vue
  frontend/src/router/index.js
Due: build-frontend

modify: stock realtime font size
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/components/StockRealtime.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend

Path conditions:
  build-fastapi: any of: backend/app/**/*
  build-crawler: any of: backend/crawler/**/*
  deploy-backend: any of: backend/**/*
  build-frontend: any of: frontend/src/**/*, frontend/vite.config.js, frontend/package*.json, .gitlab-ci.yml
