Repository Translation-regulator/Stock_Pulse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-fastapi, deploy-fastapi, build-crawler, deploy-crawler, build-frontend, deploy-frontend

build-fastapi:
  stage: build
  script:
  - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/stockpulse-api:latest ./backend/app
  - docker push $CI_REGISTRY_IMAGE/stockpulse-api:latest

deploy-fastapi:
  stage: deploy
  tags:
  - ec2
  dependencies:
  - build-fastapi
  script:
  - echo "部署 FastAPI"
  ...

build-crawler:
  stage: build
  script:
  - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/stockpulse-crawler:latest ./backend/crawler
  - docker push $CI_REGISTRY_IMAGE/stockpulse-crawler:latest

deploy-crawler:
  stage: deploy
  tags:
  - ec2
  dependencies:
  - build-crawler
  script:
  - echo "部署 Crawler"
  - docker stop crawler || true
  - docker rm crawler || true
  - docker rmi $CI_REGISTRY_IMAGE/stockpulse-crawler:latest || true
  - docker pull $CI_REGISTRY_IMAGE/stockpulse-crawler:latest
  ...

build-frontend:
  stage: build
  image: node:18
  script:
  - cd frontend
  - npm install
  - npm run build
  - mv dist ../dist
  - ls -al ../dist
  artifacts:
    paths:
    - dist
    expire_in: 1 hour

deploy-frontend:
  stage: deploy
  image: python:3.11
  dependencies:
  - build-frontend
  before_script:
  - pip install --upgrade pip
  - pip install awscli
  script:
  - echo "驗證變數"
  - '[ -z "$AWS_S3_BUCKET" ] && echo "S3 bucket 未設定" && exit 1'
  - '[ -z "$AWS_CLOUDFRONT_ID" ] && echo "CloudFront ID 未設定" && exit 1'
  ...

modify: finish RWD stock page
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

modify: RWD margin
  frontend/src/components/SlideChatDrawer.vue
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

modify: mobile RWD
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: prolofio router
  backend/app/router/stock_portfolio.py
Due: build-fastapi, deploy-fastapi

feat: PortfolioList RWD
  frontend/src/components/PortfolioList.vue
Due: build-frontend, deploy-frontend

feat: RWD for chatroom
  frontend/src/components/ChatroomWindow.vue
  frontend/src/pages/ChatLobbyPage.vue
Due: build-frontend, deploy-frontend

fix: crawler fetch region
  backend/crawler/service/fetch_twii_latest.py
Due: build-crawler, deploy-crawler

README first version
  README.md
  README_image/StockPulse_ERD.svg
  README_image/StockPulse_deployment.png
Due: none

modify: README
  README.md
Due: none

modify: stockpage RWD
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: stockpage RWD
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: stockpage search bar
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: RWD for stock page
  frontend/src/components/ChartRenderer.vue
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: ma button
  frontend/src/components/ChartRenderer.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

modify: refactor stockpage
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/components/StockDailyChart.vue
  frontend/src/components/StockMonthlyChart.vue
  frontend/src/components/StockWeeklyChart.vue
Due: build-frontend, deploy-frontend

fix: style of stockpage and RWD
  frontend/src/components/StockDailyChart.vue
  frontend/src/components/StockMonthlyChart.vue
  frontend/src/components/StockWeeklyChart.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: stockpage RWD
  frontend/src/components/StockDailyChart.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

refactor: stockpage
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/components/StockDailyChart.vue
  frontend/src/components/StockMonthlyChart.vue
  frontend/src/components/StockRealtime.vue
  frontend/src/components/StockWeeklyChart.vue
  frontend/src/pages/StockDetailPage.vue
Due: build-frontend, deploy-frontend

fix: daily button
  frontend/src/components/StockChartSwitcher.vue
  frontend/src/components/StockRealtime.vue
Due: build-frontend, deploy-frontend

update README
  README_image/stockpage.gif
Due: none

update README
  README_image/StockPulse_deployment.png
Due: none

fix: loading too slow
  frontend/src/components/ChartRenderer.vue
Due: build-frontend, deploy-frontend

reload docker
  backend/app/app_utils/db.py
Due: build-fastapi, deploy-fastapi

deploy
  backend/app/router/auth.py
  backend/crawler/database/create_twii_daily_weekly_monthly.py
Due: build-fastapi, deploy-fastapi, build-crawler, deploy-crawler

fix: linux log 404 not found
  backend/app/main.py
Due: build-fastapi, deploy-fastapi

test
  backend/app/main.py
Due: build-fastapi, deploy-fastapi

modify requirement
  backend/crawler/requirements.txt
  backend/requirements.txt
Due: build-crawler, deploy-crawler

Path conditions:
  build-fastapi: any of: backend/app/**/*, .gitlab-ci.yml
  deploy-fastapi: any of: backend/app/**/*, .gitlab-ci.yml
  build-crawler: any of: backend/crawler/**/*, .gitlab-ci.yml
  deploy-crawler: any of: backend/crawler/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, .gitlab-ci.yml
